	<div class="bar_panel_options">
		<div class="bar_panel_options_header"><center>
			<img src="images/close.png" style="float: left; margin-left: 3px;" class="close_bar_options_panel">
			Bar Graph Panel Options</center>
		</div>
		<div class="bar_panel_options_content">
			<form action="php/generate_bar.php" method="post">
				
				<h2 style="margin-bottom:0px; margin-top:0px; margin-left: 10px; margin-right: 10px; float: left;">Title</h2>
				<input class="bigbox_bar" style="margin-bottom: 0px; margin-right: 37px; float: right;" name="Title">
				<BR><BR><br>
				<h2 style="margin-bottom:0px; margin-top:0px; margin-left: 10px; margin-right: 10px; float: left;">Description</h2>
				<textarea name="description" class="bigbox" style="margin-right: 37px; width: 375px;"></textarea>
				
				<br><br><BR><BR><BR>
				<br>
				<h2 style="margin-bottom:0px; margin-top:0px; margin-left: 10px; margin-right: 10px; float: left;">Data</h2>
				<div id ='d1'>
				<input class="bigbox_bar" style="margin-bottom: 0px; margin-right: 37px; float: right;" name="Title1">
				<input class="bigbox_bar" style="margin-bottom: 0px; margin-right: 10px; float: right;" name="Data1">
				</div><br><BR>
				<div class="remove_last_input"> <img src="images/close.png" style="float: right;" ></div><div style="margin-right: 10px; margin-top: 2px;" class="add_more_data">+ Add Another Data Point | </div>
				<br><BR><BR>
				<center><input class="submit" type="submit"></center>
				<input style="display: none;" id="sizebar" <?php if($_GET['size'] != null) echo("value='".$_GET['size'] ."'"); ?>class="pallet_input" name="size"><br>
				<input style="display: none;" id="palletbar" class="pallet_input" <?php if($_GET['pallet'] != null) echo("value='".$_GET['pallet'] ."'"); ?> name="pallet"><br>
				<input style="display: none;" id="fontbar" <?php if($_GET['font'] != null) echo("value='".$_GET['font'] ."'"); ?>  name="font"><br>
			</form>
		</div>
	</div>
	
	<script>

	$(".add_more_data").click(function(){
		current = current+1;
		$("#d" + (current-1)).after("<div id='d" + current + "' ><br><br><br><input class='bigbox_bar' style='margin-bottom: 0px; margin-right: 37px; float: right;' name='Title" + current + "'><input class='bigbox_bar' style='margin-bottom: 0px; margin-right: 10px; float: right;' name='Data" + current + "'></div>").end();
	
	});
	
	$(".remove_last_input").click(function(){
		if(current != 1){
			$("#d" + current).remove();
			current--;
		}
		});

	 </script>