	<div class="footer_panel_options">
		<div class="footer_panel_options_header"><center>
			<img src="images/close.png" style="float: left; margin-left: 3px;" class="close_footer_options_panel">
			Footer Panel Options</center>
		</div>
		<div class="footer_panel_options_content">
			<form action="php/generate_footer.php" method="post">
				<h2 style="margin-bottom:0px; margin-top:0px; margin-left: 10px; margin-right: 10px; float: left;">Sources</h2>
				<textarea name="sources" class="bigbox"></textarea>
				
				<br><br><br><br><br><br><br>
				<center><input class="submit" type="submit"></center>
				<input style="display: none;" id="size" <?php if($_GET['size'] != null) echo("value='".$_GET['size'] ."'"); ?>class="pallet_input" name="size"><br>
				<input style="display: none;" id="pallet" class="pallet_input" <?php if($_GET['pallet'] != null) echo("value='".$_GET['pallet'] ."'"); ?> name="pallet"><br>
				<input style="display: none;" id="font" <?php if($_GET['font'] != null) echo("value='".$_GET['font'] ."'"); ?>  name="font"><br>
			</form>
		</div>
	</div>