
h2.size_select{
	text-align: center;
	font-size: 20px;
	margin: 0px;
	vertical-align: middle;
	letter-spacing: -1px;
	font-weight: bold;
}

h2.size_select_clicked{
	text-align: center;
	font-size: 20px;
	margin: 0px;
	padding-top: 7px;
	letter-spacing: -1px;
	font-weight: bold;
}


.size_box{
	width: 100px;
	height: 30px;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 10px;
	max-height: 50px;
	border: 1px solid #878787;
	display: table;
	min-height: 35px;
	float: right;
	position: relative;
	text-align: left;
	padding: 3px;
	background-color: #666666;
	margin-bottom: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

h2.size_select{
	text-align: center;
	font-size: 20px;
	display: table-cell;
	margin: 0px;
	letter-spacing: -1px;
	font-weight: bold;
}

