body{
	background-color: #111111;
	font-family: Arial, Verdana;
	color: white;
	margin: 0px;
	overflow-y: hidden;
	
}

img.remove_preview{
	margin-left: auto;
	margin-right: auto;
	left: auto;
	position: relative;
	cursor: pointer;
}

.background_fill{
	top:0px;
	left:0px;
	background-color: #000000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	display: none;
}


input.bigbox{
	margin:0px;
	width: 250px;
	height: 40px;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
}

textarea.bigbox{
	font-size: 14px;
	margin-right: 10px;
	font-family: arial, Verdana;
	width: 400px;
	float: right;
	height: 100px;
	font-size: 15px;
	border: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.header{
	width: 100%;
	height: 45px;
	min-height: 45px;
	background-color: #111111;
	position: relative;
	margin: 0px;
	float: left;
	padding: 0px;
}

.main_options{
	width: 100%;
	height: 50px;
	min-height: 50px;
	background-color: #222222;
	position: relative;
	margin: 0px;
	float: left;
	
}

.hide{
	display: none;
}


.panel_selector{
	width: 100%;
	height: 100%;
	min-height: 50px;
	background-color: #e8e8e8;
	position: relative;
	margin: 0px;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: url('../images/panel_selecter_background.jpg');
	background-repeat: repeat-x;
	
}	


.panel_selector center h2{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	padding: 2px;
	color: 444444;
}

.panel{
	cursor: pointer;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	max-height: 50px;
	border: 1px solid #878787;
	display: table;
	min-height: 50px;
	height: 75px;
	float: left;
	position: relative;
	text-align: left;
	width: 300px;
	padding: 3px;
	background: #dbdbdb; /* Old browsers */
	background: -moz-linear-gradient(top, #dbdbdb 0%, #b7b7b7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%,#b7b7b7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dbdbdb 0%,#b7b7b7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dbdbdb 0%,#b7b7b7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dbdbdb 0%,#b7b7b7 100%); /* IE10+ */
	background: linear-gradient(top, #dbdbdb 0%,#b7b7b7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */
	margin-bottom: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 3px 3px 5px #cecece;
	-webkit-box-shadow: 3px 3px 5px #cecece;
	box-shadow: 3px 3px 5px #cecece;
}

.panel h2{
	display: table-cell;
	top: 50%;
	margin: 0px;
	vertical-align: middle;
	letter-spacing: -1px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}	

.panel img{
	border: 1px solid #878787;
	}

.preview{
	width: 29.9%;
	height: 100%;
	background-color: #333333;
	position: relative;
	margin: 0px;
	float: right;
	display: none;
}

.delete{
	width: 29.9%;
	height: 100%;
	background-color: #333333;
	position: relative;
	margin: 0px;
	float: right;
	display: none;
}



.preview_header{
	font-size: 22px;
	font-weight: bold;
	background-color: #222222;
	z-index: 0;
}

.preview .close_preview{
	z-index: 750;
	position: absolute;
}
.preview .close_preview:hover{
	cursor: pointer;
}

.show_preview{
	width: 150px;
	height: 50px;
	position: absolute;
	z-index: 750;
	right: -40px;
	top:15px;
}


.show_preview:hover{
	cursor: pointer;
	width: 150px;
	height: 50px;
	position: absolute;
	z-index: 750;
	right: -30px;
}

.show_delete{
	width: 150px;
	height: 50px;
	position: absolute;
	z-index: 750;
	right: -40px;
	top:75px;
}

.show_delete:hover{
	cursor: pointer;
	width: 150px;
	height: 50px;
	position: absolute;
	z-index: 750;
	right: -30px;
}

.p_image{
	width: 95%;
	height: auto;
	margin-left: 10px;
	margin-top: 10px;
	-moz-box-shadow: 5px 5px 3px #222;
	-webkit-box-shadow: 5px 5px 3px #222;
	box-shadow: 5px 5px 3px #222;
}


.submit{
	border: 1px solid 2d2d2d; 
	border-radius: 7px;
	-moz-border-radius: 7px;
	font-size: 20px;
	width: 125px;
	height: 50px;
	color: white;
	cursor: pointer;
	background: #a8a8a8; /* Old browsers */
	background: -moz-linear-gradient(top, #a8a8a8 0%, #686868 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8a8a8), color-stop(100%,#686868)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a8a8a8 0%,#686868 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a8a8a8 0%,#686868 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a8a8a8 0%,#686868 100%); /* IE10+ */
	background: linear-gradient(top, #a8a8a8 0%,#686868 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#686868',GradientType=0 ); /* IE6-9 */
}	

.submit:hover{
	border: 1px solid 2d2d2d; 
	border-radius: 7px;
	-moz-border-radius: 7px;
	font-size: 20px;
	width: 125px;
	height: 50px;
	color: white;
	cursor: pointer;
	background: #686868; /* Old browsers */
	background: -moz-linear-gradient(top, #686868 0%, #a8a8a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686868), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #686868 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #686868 0%,#a8a8a8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #686868 0%,#a8a8a8 100%); /* IE10+ */
	background: linear-gradient(top, #686868 0%,#a8a8a8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */
}


